<ion-view title="Add a Skydive" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="addASkydive-form1" class="list form-no-borders">
            <label class="item item-input" id="addASkydive-input1" name="jump_number">
                <span class="input-label">Jump #</span>
                <input type="number" placeholder="Jump Number">
            </label>
            <label class="item item-input" id="addASkydive-input2" name="jump_date">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select" id="addASkydive-select4" name="jump_location">
                <span class="input-label">Location</span>
                <select>
                    <option>Skydive Spaceland (Houston)</option>
                    <option>Skydive Chicago</option>
                    <option>Chicagoland Skydiving Center</option>
                </select>
            </label>
            <label class="item item-select" id="addASkydive-select5" name="jump_aircraft">
                <span class="input-label">Aircraft</span>
                <select>
                    <option>Twin Otter</option>
                    <option>Cessna Caravan</option>
                    <option>Cessna 182</option>
                </select>
            </label>
            <label class="item item-select" id="addASkydive-select6" name="jump_type">
                <span class="input-label">Type</span>
                <select>
                    <option>AFF</option>
                    <option>Angle</option>
                    <option>Belly</option>
                    <option>Freefly</option>
                    <option>Hop &amp; Pop</option>
                    <option>Static Line</option>
                    <option>Tandem</option>
                    <option>Tracking</option>
                    <option>Wingsuit</option>
                </select>
            </label>
            <label class="item item-input" id="addASkydive-input3" name="jump_altitude">
                <span class="input-label">Altitude</span>
                <input type="number" placeholder="14000">
            </label>
            <label class="item item-select" id="addASkydive-select1" name="Gear Mode">
                <span class="input-label">Gear Mode</span>
                <select>
                    <option>My Rig</option>
                    <option>Manual</option>
                </select>
            </label>
            <label class="item item-select" id="addASkydive-select3" name="Rig">
                <span class="input-label">Rig</span>
                <select>
                    <option>Infinity | Velocity 84</option>
                    <option>Javelin | Cobalt 105</option>
                </select>
            </label>
            <ion-toggle toggle-class="toggle-positive" id="addASkydive-toggle1">Cutaway?</ion-toggle>
            <button id="addASkydive-button5" class="button button-positive  button-block">Save</button>
        </form>
    </ion-content>
</ion-view>