<ion-view title="Flock - Dashboard" id="page1">
    <ion-content padding="true" class="has-header">
        <h3 id="flockDashboard-heading1" style="color:#000000;font-weight:300;">Overview</h3>
        <div class="item item-body" id="flockDashboard-list-item-container2">
            <div id="flockDashboard-markdown1" style="margin-top:0px;color:#000000;text-align:center;">
                <h1>3201</h1>

                <p>Total Jumps</p>
            </div>
        </div>
        <a ui-sref="menu.addASkydive" id="flockDashboard-button1" class="button button-positive  button-block icon-left ion-android-add">Add a Skydive</a>
        <div id="flockDashboard-button-bar1" class="button-bar"></div>
        <div class="list card" id="flockDashboard-card22"></div>
        <h3 id="flockDashboard-heading2" style="color:#000000;font-weight:300;">Recent Jumps</h3>
        <div class="list card" id="flockDashboard-card21">
            <ion-item class="item-avatar item-icon-right" id="flockDashboard-list-item7" ui-sref="menu.viewSkydive">
                <h2>Freefly</h2>
                <p>June 20th 2016</p>
                <i class="icon ion-android-camera"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" id="flockDashboard-list-item9" ui-sref="menu.viewSkydive">
                <h2>Angle</h2>
                <p>June 20th 2016</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar" id="flockDashboard-list-item12" ui-sref="menu.viewSkydive">
                <h2>Freefly</h2>
                <p>June 20th 2016</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>