<ion-view title="Login" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list">
            <ion-list id="login-list2">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="data.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block" ng-click="login()">Log in</button>
                
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button3" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>