<ion-view title="Login" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="login2-form4" class="list">
            <ion-list id="login2-list9">
                <label class="item item-input" id="login2-input9">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login2-input10">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login2-button6" class="button button-stable  button-block">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login2-button7" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>