<ion-view title="My Gear" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list id="myGear-list4">
            <ion-item id="myGear-list-item10">Rigs
                <span class="item-note">1</span>
            </ion-item>
            <ion-item id="myGear-list-item11">Containers
                <span class="item-note">2</span>
            </ion-item>
            <ion-item id="myGear-list-item13">Parachutes
                <span class="item-note">4</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>