<ion-view title="Skydives" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list id="skydives-list1">
            <ion-item class="item-icon-right" id="skydives-list-item4" ui-sref="menu.viewSkydive">3,120 Freefly
                <span class="item-note">8/19/2016</span>
                <i class="icon ion-ios-videocam icon-accessory"></i>
            </ion-item>
            <ion-item id="skydives-list-item5" ui-sref="menu.viewSkydive">3,119 Angle
                <span class="item-note">8/19/2016</span>
            </ion-item>
            <ion-item id="skydives-list-item6" ui-sref="menu.viewSkydive">Hop &amp; Pop
                <span class="item-note">8/7/2016</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>