<ion-view title="View Skydive">
    
    <ion-nav-title>Skydive #{{skydive.acf.jump_number}}</ion-nav-title>
        
        <ion-content padding="true" class="has-header">
        <ion-spinner ng-show="!skydive" icon="spiral"></ion-spinner>
        <div>
            <style>
                td {
                    padding:6px;
                }
            </style>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <strong>Jump #</strong>
                        </td>
                        <td>{{skydive.acf.jump_number}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Date</strong>
                        </td>
                        <td>{{skydive.acf.jump_date  | date:'MMM dd, yyyy'}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Location</strong>
                        </td>
                        <td>{{skydive.acf.jump_location.post_title}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Aircraft</strong>
                        </td>
                        <td>{{skydive.acf.jump_aircraft.post_title}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Type</strong>
                        </td>
                        <td>{{skydive.acf.jump_type}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Altitude</strong>
                        </td>
                        <td>{{skydive.acf.jump_altitude}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Gear Mode</strong>
                        </td>
                        <td>{{skydive.acf.jump_gear_mode}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Rig</strong>
                        </td>
                        <td>{{skydive.acf.jump_rig.post_title}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Container</strong>
                        </td>
                        <td>{{skydive.acf.jump_container.post_title}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Main</strong>
                        </td>
                        <td>{{skydive.acf.jump_main.post_title}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Reserve</strong>
                        </td>
                        <td>{{skydive.acf.jump_reserve.post_title}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Cutaway</strong>
                        </td>
                        <td>{{skydive.acf.jump_cut_away}}</td>
                    </tr>
                </tbody>
            </table>
            
            
            
        </div>
        
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="skydive-video2">
            <iframe src="https://www.youtube.com/embed/DiS0x17ZC30?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        
        
        <h3 id="skydive-heading5" style="color:#000000;">Friends</h3>
        
        <ion-list id="skydive-list6">
            <ion-item class="item-avatar item-icon-right" id="skydive-list-item22">
                <img src="img/mY6uYYGlQzq37DSaFEQ4_12717477_10208693129396272_2214802773428564859_n.jpg">
                <h2>Nump Ty</h2>
                <p>C-43253</p>
                <i class="icon ion-android-checkmark-circle"></i>
            </ion-item>
            <ion-item class="item-avatar" id="skydive-list-item23">
                <img src="img/FDIHsu61Q0i9Z2xPop1P_14265015_10153758372150896_2673907743244077186_n.jpg">
                <h2>Frank Pesaza</h2>
                <p>D-12345</p>
            </ion-item>
        </ion-list>
            
        <h3 id="comments-heading" style="color:#000000;">Comments</h3>
        <ion-list>
            <ion-spinner ng-show="!comments" icon="spiral"></ion-spinner>
            <ion-item class="item-avatar" ng-repeat="comment in comments">
                <img src="{{comment.author_avatar_urls[48]}}">
                <h2>{{comment.author_name}}</h2>
                <span class="item-note">{{comment.date | date:'MMM dd, yyyy h:mm a'}}</span>
                <p style="white-space:normal;">{{comment.content.rendered | htmlToPlaintext}}</p>
            </ion-item>
        </ion-list>    
            
    </ion-content>
</ion-view>